.code-icon {
  mask: url('/image/code-solid.svg') no-repeat center;
  mask-size: cover;
  width: 20px;
  height: 16px;
}

.eye-icon {
  mask: url('/image/eye-solid.svg') no-repeat center;
  mask-size: cover;
  width: 18px;
  height: 14px;
}

.typescript-icon {
  background-image: url('/image/typescript-icon.svg');
  background-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}

.javascript-icon {
  mask: url('/image/js.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}

.html-icon {
  mask: url('/image/html5.svg') no-repeat center;
  mask-size: cover;
  width: calc(59.88px * 0.6);
  height: calc(70px * 0.6);
}

.css-icon {
  mask: url('/image/css3-alt.svg') no-repeat center;
  mask-size: cover;
  width: calc(59.88px * 0.6);
  height: calc(70px * 0.6);
}

.tailwind-icon {
  mask: url('/image/tailwind.svg') no-repeat center;
  mask-size: cover;
  width: calc(115px * 0.6);
  height: calc(70px * 0.6);
}

.bd-icon {
  mask: url('/image/database-solid.svg') no-repeat center;
  mask-size: cover;
  width: calc(61px * 0.6);
  height: calc(70px * 0.6);
}

.react-icon {
  mask: url('/image/react.svg') no-repeat center;
  mask-size: cover;
  width: calc(80px * 0.6);
  height: calc(70px * 0.6);
}

.next-icon {
  mask: url('/image/next-js.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}

.node-icon {
  mask: url('/image/node.svg') no-repeat center;
  mask-size: cover;
  width: calc(114px * 0.6);
  height: calc(70px * 0.6);
}

.git-icon {
  mask: url('/image/git-alt.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}

.php-icon {
  mask: url('/image/php.svg') no-repeat center;
  mask-size: cover;
  width: calc(132px * 0.6);
  height: calc(70px * 0.6);
}

.github-icon {
  mask: url('/image/github.svg') no-repeat center;
  mask-size: cover;
}

.linkedin-icon {
  mask: url('/image/linkedin.svg') no-repeat center;
  mask-size: cover;
}

.whatsapp-icon {
  mask: url('/image/whatsapp.svg') no-repeat center;
  mask-size: cover;
}

.envelope-icon {
  mask: url('/image/envelope-regular.svg') no-repeat center;
  mask-size: cover;
}