* {
  scrollbar-width: auto;
  scrollbar-color: #22c55e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}

*::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 11px;
  border: 0px solid #ffffff;
}