* {
  scrollbar-width: auto;
  scrollbar-color: #22c55e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}

*::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 11px;
  border: 0px solid #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0,0,0,.25)
}

.header-button {
  @apply text-slate-900 font-semibold mx-4;
}

.header-button-selected {
  @apply text-green-500 font-bold
}

.header-button:hover {
  @apply font-bold
}

.home-content-button-social-media {
  @apply flex flex-row p-2 border-slate-900 rounded-md border-2 text-lg items-center cursor-pointer;
}

.home-content-button-social-media:hover {
  @apply border-green-500;
  
}

.home-content-button-social-media-text {
  @apply text-slate-900 font-semibold ml-4;
}

.home-content-button-social-media:hover .home-content-button-social-media-text {
  @apply text-green-500;
}

.home-content-social-media-icon {
  width: 28px;
  height: 28px;
  display: block;
  @apply bg-slate-900
}

.home-content-button-social-media:hover .home-content-social-media-icon {
  @apply bg-green-500
}

.github-icon {
  mask: url('/image/github.svg') no-repeat center;
  mask-size: cover;
}
.linkedin-icon {
  mask: url('/image/linkedin.svg') no-repeat center;
  mask-size: cover;
}
.whatsapp-icon {
  mask: url('/image/whatsapp.svg') no-repeat center;
  mask-size: cover;
}
.envelope-icon {
  mask: url('/image/envelope-regular.svg') no-repeat center;
  mask-size: cover;
}

.about-me-content-icon {
  display: block;
  @apply bg-green-500;
  position: relative;
}

.typescript-icon {
  background-image: url('/image/typescript-icon.svg');
  background-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}
.javascript-icon {
  mask: url('/image/js.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}

.html-icon {
  mask: url('/image/html5.svg') no-repeat center;
  mask-size: cover;
  width: calc(59.88px * 0.6);
  height: calc(70px * 0.6);
}
.css-icon {
  mask: url('/image/css3-alt.svg') no-repeat center;
  mask-size: cover;
  width: calc(59.88px * 0.6);
  height: calc(70px * 0.6);
}
.tailwind-icon {
  mask: url('/image/tailwind.svg') no-repeat center;
  mask-size: cover;
  width: calc(115px * 0.6);
  height: calc(70px * 0.6);
}
.bd-icon {
  mask: url('/image/database-solid.svg') no-repeat center;
  mask-size: cover;
  width: calc(61px * 0.6);
  height: calc(70px * 0.6);
}
.react-icon {
  mask: url('/image/react.svg') no-repeat center;
  mask-size: cover;
  width: calc(80px * 0.6);
  height: calc(70px * 0.6);
}
.next-icon {
  mask: url('/image/next-js.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}
.node-icon {
  mask: url('/image/node.svg') no-repeat center;
  mask-size: cover;
  width: calc(114px * 0.6);
  height: calc(70px * 0.6);
}
.git-icon {
  mask: url('/image/git-alt.svg') no-repeat center;
  mask-size: cover;
  width: calc(70px * 0.6);
  height: calc(70px * 0.6);
}
.php-icon {
  mask: url('/image/php.svg') no-repeat center;
  mask-size: cover;
  width: calc(132px * 0.6);
  height: calc(70px * 0.6);
}

.tooltip {
  @apply block absolute text-slate-900 font-semibold text-center bg-slate-100 border-2 border-green-500 rounded-md px-3 py-1
}

.projects-icon {
  @apply bg-green-500;
  display: block;
}

.code-icon {
  mask: url('/image/code-solid.svg') no-repeat center;
  mask-size: cover;
  width: 20px;
  height: 16px;
}

.eye-icon {
  mask: url('/image/eye-solid.svg') no-repeat center;
  mask-size: cover;
  width: 18px;
  height: 14px;
}