@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply bg-slate-50;
  @apply dark:bg-slate-800
}

.main {
  @apply w-4/5 mx-auto flex flex-col mt-5;
  @apply max-md:w-full
}

.header {
  @apply flex justify-end;
}

.header-button {
  @apply text-slate-900 font-semibold mx-4 hover:font-bold;
  @apply dark:text-slate-300;
}

.header-button-selected {
  @apply text-green-500 font-bold mx-4
}

#home .content {
  @apply flex justify-evenly items-center mt-4;
  @apply max-md:w-4/5 max-md:mx-auto
}

#home .social-medias-container {
  @apply grid grid-cols-2 gap-4 mt-12;
  @apply max-md:grid-cols-1
}

#home .social-medias-button {
  @apply flex flex-row p-2 border-slate-900 rounded-md border-2 text-lg items-center cursor-pointer;
  @apply dark:border-slate-300;
  @apply hover:border-green-500;
}

#home .social-medias-button .icon {
  width: 28px;
  height: 28px;
  display: block;
  @apply bg-slate-900;
  @apply dark:bg-slate-300;
}

#home .social-medias-button .text {
  @apply text-slate-900 font-semibold ml-4;
  @apply dark:text-slate-300
}

#home .social-medias-button:hover .icon {
  @apply bg-green-500
}

#home .social-medias-button:hover .text {
  @apply text-green-500;
}

#about-me .icon {
  display: block;
  position: relative;
  @apply bg-green-500;
}

.tooltip {
  @apply block absolute text-slate-900 font-semibold text-center bg-slate-100 border border-green-500 rounded-md px-3 py-1;
  @apply dark:text-slate-300 dark:bg-slate-800
}

#projects .project {
  @apply border border-slate-900 rounded-md p-2 shadow-md;
  @apply dark:border-slate-400;
}

#projects .project .title {
  @apply text-center text-slate-900 font-semibold text-2xl mb-4;
  @apply dark:text-slate-300;
}

#projects .project .description {
  @apply text-justify text-slate-900 mt-4;
  @apply dark:text-slate-300;
}

#projects .project .tags {
  @apply flex-wrap flex flex-row text-green-500 font-semibold justify-evenly mt-4;
}

#projects .project .buttons {
  @apply flex flex-row justify-evenly mt-4;
}

#projects .project .buttons .button {
  @apply w-1/4 flex items-center justify-center py-2 border-slate-900 border rounded-sm;
  @apply dark:border-slate-300
}

#projects .project .buttons .icon {
  @apply bg-green-500;
  display: block;
}

.theme {
  @apply flex justify-center items-center cursor-pointer fill-green-500;
}